{% extends 'website/base.html' %}

{% block content %}
	<div class='content-outer'>
		<main>
			<section class='main-content'>
				<div>
					<div class='sqs-row'>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-2'>
								<div class='sqs-block-content-other'>
									<h2>We'd love to hear from you</h2>
									<p>If you have any questions, suggestions, or feedback, please fill out the form below. We'd also love to accept physical donations of gently-used pet supplies or talk about partnerships with animal shelters and similar organizations.</p>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row'>
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.9257602662765!2d-74.6536367854891!3d40.34399286798553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3e6d8cd98b6e9%3A0x2ba7ed6fa90024f!2sPrinceton+University!5e0!3m2!1sen!2sus!4v1512415878084" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
							
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<form>
									<div class='field-list'>
										<fieldset class='fields'>
											<div class="title">Name <span class="required">*</span></div>
											<legend>Name</legend>
											<div class='field'>
												<label class='caption'>
													<input type="text" x-autocompletetype="given-name" maxlength="30" spellcheck="false" name="fname" class='field-element'>First Name
												</label>
											</div>
											<div class='field'>
												<label class='caption'>
													<input type="text" x-autocompletetype="surname" maxlength="30" spellcheck="false" name="lname" class='field-element'>Last Name
												</label>
											</div>
										</fieldset>
										<div class='field required'>
											<div class='title'>Email Address <span class="required">*</span></div>
											<input type="text" x-autocompletetype="email" spellcheck="false" name="email" class='field-element'>
										</div>
										<fieldset class='fields'>
											<div class="title">Phone <span class="required">*</span></div>
											<legend>Phone</legend>
											<div class='field two-digits'>
												<label class='caption'>
													<input type="text" x-autocompletetype="phone-country-code" maxlength="5" name="country" class='field-element'>Country
												</label>
											</div>
											<div class='field three-digits'>
												<label class='caption'>
													<input type="text" x-autocompletetype="phone-area-code" maxlength="3" name="areacode" class='field-element'>(###)
												</label>
											</div>
											<div class='field three-digits'>
												<label class='caption'>
													<input type="text" x-autocompletetype="phone-local-prefix" maxlength="3" name="prefix" class='field-element'>###
												</label>
											</div>
											<div class='field four-digits'>
												<label class='caption'>
													<input type="text" x-autocompletetype="phone-local-suffix" maxlength="4" name="suffix" class='field-element'>####
												</label>
											</div>
										</fieldset>
										<div class='field required'>
											<div class='title'>Subject <span class="required">*</span></div>
											<input type="text" name="subject" class='field-element'>
										</div>
										<div class='field required'>
											<div class='title'>Message <span class="required">*</span></div>
											<textarea name="message" class='field-element'></textarea>
										</div>
									</div>

									<div class='text-align-left'>
										<input class="sqs-system-button" type="submit" value="Submit">
									</div>
								</form>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}