{% extends 'website/base.html' %}

{% block content %}
	<div class='content-outer'>
		<main>
			<section id='about-intro' class='index-page index-page-with-image'>
				<div class='index-page-content'>
					<div class='sqs-row'>
						<div class='sqs-col'>
							<div class='sqs-block sqs-block-1'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
							<div class='sqs-block sqs-block-2'>
								<div class='sqs-block-content-other'>
									<h1 class='sqs-h'>
										Bringing companionship to the elderly and providing homes for animals.
									</h1>
								</div>
							</div>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<section id='mission-goals-history' class='index-page'>
				<div class='index-page-content'>
					<div>
						
					</div>
					
				</div>
			</section>
			<section id='volunteer-donate' class='index-page index-page-with-image'>
				<div class='index-page-content'>
					<div>
						
					</div>
					
				</div>
			</section>
		</main>
	</div>
{% endblock %}