{% extends 'website/base.html' %}

{% block content %}
	<div class='content-outer'>
		<main>
			<section class='main-content'>
				<div>
					<div class='sqs-row'>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-2'>
								<div class='sqs-block-content-other'>
									<h2>Take a look at these furry companions</h2>
									<p>These pets are looking for homes! We're here to them to seniors using factors like personality fit, training level, health needs, and more! Can you find a match?</p>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}


