{% extends 'website/base.html' %}

{% block content %}
	<div class='content-outer'>
		<main>
			<section class='main-content'>
				<div>
					<div class='sqs-row'>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-2'>
								<div class='sqs-block-content-other'>
									<h2>Take a look at these furry companions</h2>
									<p>These pets are looking for homes! We're here to them to seniors using factors like personality fit, training level, health needs, and more! All cats are trained but the dogs have varying levels of training on a scale from 1 to 4. Can you find a match?</p>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
					</div>
					<div class='sqs-row' style="display: block;">
						<div class='sqs-col-12'>
							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='dog-1'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other'>
											<h2>Bruno</h2>
											<h3>Labrador, Age 4<br>Training Level 2</h3>
											<p>Bruno is a gentle, lovable dog. He likes to have his belly rubbed. Bruno plays well with other dogs. He's down to have a good time outdoors or chill at home with you! He's a good fit for someone who is neither high-energy nor low-energy and just wants a fun buddy to have around.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other' style="text-align: right;">
											<h2>Sophie</h2>
											<h3>Yorkshire Terrier, Age 5<br>Training Level 4</h3>
											<p>Sophie is for someone who wants a cute, fluffy dog to bring some excitement into their day! She is energetic but easy to take care of with her level of training. Sophie is a good fit for someone who has time to pay attention to her and cater toward her excitement levels - likely more high-energy.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='dog-2'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='cat-1'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other'>
											<h2>Eve</h2>
											<h3>Maine Coon, Age 2</h3>
											<p>Eve is gentle and warm. She loves grooming herself and head-scratches. She's well-mannered and loving, but she is a little pampered. Eve is a good fit for someone who doesn't mind having to pamper their cat once in a while and who wants a sweet cat to live with.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other' style="text-align: right;">
											<h2>Harrison</h2>
											<h3>American Bobtail Cat, Age 3</h3>
											<p>Harrison can be kind of frazzled and goofy, but he's good-natured and a great friend. He loves cuddles and snuggles. He's playful and easily entertained. Harrison is a good fit for someone who is willing to take time to play and has a fun, quirky personality.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='cat-2'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='dog-3'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other'>
											<h2>Peanut</h2>
											<h3>Daschund, Age 2<br>Training Level 3</h3>
											<p>Peanut is kind of like how you'd imagine a cat but in dog form. She's up for snuggles when you're around but okay to do her own thing when you're away. She's not high-energy but she is sweet and caring and bound to make your day! Peanut is a good fit for someone who does not lead an active or energetic lifestyle.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other' style="text-align: right;">
											<h2>Chewy</h2>
											<h3>Brussels Griffon, Age 4<br>Training Level 4</h3>
											<p>Chewy can look like kind of a grump, but he's super sweet inside. His loyalty is unmatched, and he is super easy to take care of. His hobby is watching TV with you, especially if you're watching Star Wars! Chewy is a good fit for someone more low-energy who wants more peaceful and quiet companionship.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='dog-4'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='cat-3'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other'>
											<h2>Tyler</h2>
											<h3>Siamese, Age 1</h3>
											<p>Though Tyler is young, he is super well-behaved and acts like a much older cat. He likes to read the newspaper over your shoulder and listen to music together. Tyler provides a calming presence to your daily life. He is a good fit for a reflective and patient owner who wants a silent and soothing companion.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other' style="text-align: right;">
											<h2>Silver</h2>
											<h3>Nebelung, Age 3</h3>
											<p>Silver is the most handsome cat you'll ever meet! She's beauty, she's grace, and she's very independent. However, Silver isn't opposed to cuddles. She is a good fit for someone who doesn't mind some hair on the carpet and someone who needs a more independent pet.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='cat-4'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}


