{% extends 'website/base.html' %}

{% block content %}
	<div class='content-outer'>
		<main>
			<section class='main-content'>
				<div>
					<div class='sqs-row' style="display: block;">
						<div class='sqs-col-12'>
							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='nick'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other'>
											<h2>Nicholas Kick</h2>
											<h3>OG Idea Man, Co-Founder</h3>
											<p>Studies something BSE. Thought of this idea in middle school. Really likes his dog. And his grandpa's cat. From Philly.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other' style="text-align: right;">
											<h2>Danielle Coates</h2>
											<h3>Co-Founder</h3>
											<p>Studies Chemical and Biological Engineering. Likes dogs. Allergic to cats. Also from the Philly area.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='danielle'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='tommy'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other'>
											<h2>Tom Koenig</h2>
											<h3>Co-Founder</h3>
											<p>Studies something not BSE. Presumably likes animals? Also from Philly.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

							<div class='sqs-row' style="display: block;">
								<div class='sqs-col-2'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
								<div class='sqs-col-4'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
									<div class='sqs-block sqs-block-2'>
										<div class='sqs-block-content-other' style="text-align: right;">
											<h2>Lucy Lin</h2>
											<h3>Co-Founder</h3>
											<p>Studies Computer Science. Likes dogs. Also cats. Really likes horses. Not from Philly.</p>
										</div>
									</div>
								</div>
								<div class='sqs-col-5'>
									<div class='sqs-block' style='clear: both'>
										<div class="intrinsic" style="max-width:1000.0px; margin: auto;">
											<div style="padding-bottom: 123%; overflow: hidden;" class="image-block-wrapper" id='lucy'>
											</div>
										</div>
									</div>
								</div>
								<div class='sqs-col-1'>
									<div class='sqs-block' style='clear: both'>
										<div class='sqs-block-content'>&nbsp;</div>
									</div>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>

						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}


