{% extends 'website/base.html' %}

{% block content %}
	<div class='content-outer'>
		<main>
			<section class='main-content'>
				<div>
					<div class='sqs-row'>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-2'>
								<div class='sqs-block-content-other'>
									<h2>Change lives (both human and furry) by helping out</h2>
									<p>Spend a few minutes of your day helping us move a pet from an animal shelter to a loving new home. Make someone's day by bringing their new companion to them!</p>
								</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
							<div class='sqs-block' style='clear: both'>
								<form>
									<div class='field-list'>
										<fieldset class='fields'>
											<div class="title">Name <span class="required">*</span></div>
											<legend>Name</legend>
											<div class='field'>
												<label class='caption'>
													<input type="text" x-autocompletetype="given-name" maxlength="30" spellcheck="false" name="fname" class='field-element'>First Name
												</label>
											</div>
											<div class='field'>
												<label class='caption'>
													<input type="text" x-autocompletetype="surname" maxlength="30" spellcheck="false" name="lname" class='field-element'>Last Name
												</label>
											</div>
										</fieldset>
										<div class='field required'>
											<div class='title'>
												Email Address <span class="required">*</span>
											</div>
											<input type="text" x-autocompletetype="email" spellcheck="false" name="email" class='field-element'>
										</div>
										<div class='field required'>
											<div class='title'>
												Subject <span class="required">*</span>
											</div>
											<input type="text" name="subject" class='field-element'>
										</div>
										<div class='field required'>
											<div class='title'>
												Message <span class="required">*</span>
											</div>
											<textarea name="message" class='field-element'></textarea>
										</div>
									</div>

									<div class='text-align-left'>
										<input class="sqs-system-button" type="submit" value="Submit">
									</div>
								</form>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}