{% extends 'website/base.html' %}

{% block content %}
	<div class='content-outer'>
		<main>
			<section class='main-content'>
				<div>
					<div class='sqs-row'>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-2'>
								<div class='sqs-block-content-other'>
									<h2>Change lives by helping out</h2>
									<p>Spend a few minutes of your day helping us move a pet from an animal shelter to a loving new home. Make someone's day by bringing their new companion to them!</p>
								</div>
							</div>
						</div>
						<div class='sqs-col-4'>
							<div class='sqs-block sqs-block-3'>
								<div class='sqs-block-content'>&nbsp;</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
{% endblock %}